@font-face {
    font-family: 'yekan' ;
    src: url("/public/yekan/Yekan.woff2") format(woff2);
}
body{
    font-family: 'yekan';
    height: 100vh;
}
:root{
    --color-white : #fff;
    --color-red : #b80028;
    --color-black:#000;
    --color-purple : #764ba2;
    --color-gray : #484848;
}
/*navbar*/
.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.header-top{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    margin-top: 1rem;

}
.header-logo{
    width: 64px;
    height: auto;
}
.header-logo img{
    /* width: 100%; */
        width: 85px;
    height: 60px;
}
.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav ul{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.header-nav ul li{
    padding: 10px 16px;
   
}
.header-nav ul li a{
    position: relative;
    font-weight: bold;
    font-size: 1.2rem;
}
.header-nav ul li a::after{
    content: "";
    position: absolute;
    /* left: 0; */
    bottom: -4px;
    height: 3px;
    width: 0;
    background-color: var(--color-red);
    left: 50%;
    transform: translateX(-50%);
    transition: width 300ms ease;
}
.header-nav ul li a:hover::after{

    width: 100%;
}
.header-btn{
    cursor: pointer;
    justify-self: end;
    font-weight: bold;
    background-color: var(--color-white);
    border-radius: 4px;
    padding: 10px 16px;
    color: var(--color-red);
    border: 1px solid var(--color-red);
    transition: all  300ms ease;
}
.header-btn:hover{
    background-color: var(--color-red);
    color: var(--color-white);
}

/*banner */

.header-bottom{
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: 650px;
    background-image: -webkit-linear-gradient(-45deg, #667eea 0%, #764ba2 100%);
}
.header-bottom::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 345px;
    background-image: url(/public/bannerbelow.png);
    background-position: center;
    background-repeat: no-repeat;
}
.header-center{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
}
.header-bottom-container{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;


}

.header-bottom-title{
display: flex;
flex-direction: column;
text-align: center;
/* justify-content: center; */
}
.header-bottom-title h2{
    font-size: 48px;
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 3rem;
}
.header-bottom-title p{
   color: white;
    width: 80%;
    line-height: 30px;
    align-self: center;
   margin-bottom: 3rem;
    word-spacing: 2px;
}
.header-bottom-title a{
    align-self: center;
    background-color: white;
    width: 100px;
    padding: 10px 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 300ms;
}
.header-bottom-title a:hover{
    /* box-shadow: 0 0 20px 2px var( --color-purple ); */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2), -2px -2px 5px var( --color-purple );
    color: var(--color-purple) ;
    
}
.header-bottom-img{
    width: 400px;
    
}
.header-bottom-img img{
    width: 100%;
    /* transform: translateY(100%) */
 
}

main{
    margin-top: 6rem;
}
/*about*/
.section-title{
    display: flex;
    justify-content: end;
    margin-right: 10rem;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 4rem;
    gap: 2rem;
}
.section-title-logo svg{
    width: 60px;
    height: 60px;
    /* stroke: var(--color-purple); */
    fill: var(--color-purple);
}

.section-title-text{
    font-size: 2rem;
    position: relative;
}
.section-title-text::after{
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: -40%;
    
    background-color: var(--color-red);
}
.about{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.about-desc{
    direction: rtl;
    text-align: start;
    margin-left: 2rem;
    width: 80%;
}
.about-desc h2{
    font-size: 2rem;
    font-weight: 600;
}
.about-desc p{
   line-height: 1.4rem;
    width: 90%;
    text-align: justify;
}
.about-desc div{
    display: flex;
    margin-bottom: 1.1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
   

.about-desc-text{
    position: relative;
    display: block;
}
.about-desc-tick svg{
    width: 24px;
    height: 24px;
    stroke: var(--color-red);
    display: inline;
}
.about-img img{
    width: 500px;
}

/*customer*/
.customer-section-logo-color{
    stroke: var(--color-purple);
}
.customers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    direction: rtl;
    overflow-x: auto;
    background-image: -webkit-linear-gradient(-45deg, #667eea 0%, #764ba2 100%);
}
.customer-logo{
    /* background-color: var(--color-purple); */
    padding: 10px;
}

.customer-logo img{
    width: 250px;
}
/*team*/
.team{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.team-person-img{
position: relative;
width: 100%;
}

.team-person-img img{
width: 100%;
border-radius: 6px 6px 0 0;
}
.team-person-container{
    display: flex;
    flex-direction: column;
    /* border: 1px solid #667eea; */
    border-radius: 6px;
    text-align: center;
    width: auto;
    height: 400px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
}

.team-person-container:hover .team-social {
 opacity: 1;
    transform: translateY(50%);
}
.team-social{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom:30px;
    left: 4%;
    width: 90%;
    opacity: 0;
    transform: translateY(-50%);
    transition: transform 300ms ease , opacity 300ms ease;
}

.team-social a {
    background-color: rgba(255, 255, 255, .7);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    transition: all 300ms;

}
.team-social a:hover {
background: #5759c7;
color: var(--color-white);
}
.team-social a svg {
    width: 24px;
    height: 24px;
    
}


.team-person-info{
        display: flex;
    align-items: self-end;
    justify-content: center;
    flex-direction: column;
    gap: 1.4rem;
    /* margin-top: 1rem; */
    padding: 1.4rem 2rem;

}
.team-person-name{
    font-weight: 700;
    font-size: 1.2rem;
}
.team-person-role{
font-size: .9rem;
color: var(--color-gray);
}


/*portfolio*/
.portfolio-container{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 1rem;
}

.portfolio-image-container{
    position: relative;
width: 300px;
height: auto;
overflow: hidden;
cursor: pointer;
border-radius: 8px;
justify-self: center;

}
.portfolio-image-container .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: var(--color-gray);
    transition: opacity 300ms ease;
}
.portfolio-image-container a{
    color: var(--color-white);
    background-color: var(--color-red);
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px 16px;
    border-radius: 6px;
    opacity: 0;
    transition: all 300ms ease;
    
}
.portfolio-image-container:hover a{
    opacity: 1;
}
.portfolio-image-container a:hover{
    background-color: var(--color-white);
    color: var(--color-red);
}
.portfolio-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 300ms ease;
}
.portfolio-image-container:hover .overlay{
opacity: 0.5;
}
.portfolio-image-container:hover img{
    transform: scale(1.1);
}


/*comments*/
.comments-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.comment-container{
    direction: rtl;
    width: auto;
    height: 260px;
border: 1px solid black;
display: flex;
flex-direction: column;
box-shadow: -6px 6px 10px 2px rgba(0, 0, 0, .3);
align-items: start;
padding: 20px 20px ;
border-radius: 8px;
}

.comment-text{
    position: relative;
    font-size: .8rem;
    margin-bottom: 3rem;
    line-height: 1.3rem;
    text-align: justify;

}
.comment-text::after{
    position: absolute;
    bottom: 0;
    content: "";
    background-color: var(--color-red);
    height: 3px;
    width: 100%;
    left: 0;
    margin-bottom: -2rem;

}
.comment-user{
display: flex;
flex-direction: row-reverse;
align-items: center;
justify-content: end;
gap: 2rem;
}
.comment-user-name{

}
.comment-user-image{
width: 48px;
height: 48px;
border-radius: 100%;
}
.comment-user-image img{
width: 48px;
height: 48px;
border-radius: 100%;
}
footer{
    height: 600px;
}