@font-face {
    font-family: 'yekan' ;
    src: url("/public/yekan/Yekan.woff2") format(woff2);
}
body{
    font-family: 'yekan';
}
:root{
    --color-white : #fff;
    --color-red : #b80028;
    --color-black:#000;
    --color-purple : #764ba2;
}
/*navbar*/
.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.header-top{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    margin-top: 1rem;

}
.header-logo{
    width: 64px;
    height: auto;
}
.header-logo img{
    /* width: 100%; */
        width: 85px;
    height: 60px;
}
.header-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav ul{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.header-nav ul li{
    padding: 10px 16px;
   
}
.header-nav ul li a{
    position: relative;
    font-weight: bold;
}
.header-nav ul li a::after{
    content: "";
    position: absolute;
    /* left: 0; */
    bottom: -4px;
    height: 3px;
    width: 0;
    background-color: var(--color-red);
    left: 50%;
    transform: translateX(-50%);
    transition: width 300ms ease;
}
.header-nav ul li a:hover::after{

    width: 100%;
}
.header-btn{
    cursor: pointer;
    justify-self: end;
    font-weight: bold;
    background-color: var(--color-white);
    border-radius: 4px;
    padding: 10px 16px;
    color: var(--color-red);
    border: 1px solid var(--color-red);
    transition: all  300ms ease;
}
.header-btn:hover{
    background-color: var(--color-red);
    color: var(--color-white);
}

/*banner */
.header-bottom{
    margin-top: 2rem;
    position: relative;
    width: 100%;
    height: 650px;
    background-image: -webkit-linear-gradient(-45deg, #667eea 0%, #764ba2 100%);
}
.header-bottom::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 345px;
    background-image: url(/public/bannerbelow.png);
    background-position: center;
    background-repeat: no-repeat;
}
.header-center{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
}
.header-bottom-container{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;


}

.header-bottom-title{
display: flex;
flex-direction: column;
text-align: center;
/* justify-content: center; */
}
.header-bottom-title h2{
    font-size: 48px;
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 3rem;
}
.header-bottom-title p{
   color: white;
    width: 80%;
    line-height: 30px;
    align-self: center;
   margin-bottom: 3rem;
    word-spacing: 2px;
}
.header-bottom-title a{
    align-self: center;
    background-color: white;
    width: 100px;
    padding: 10px 16px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease 300ms;
}
.header-bottom-title a:hover{
    /* box-shadow: 0 0 20px 2px var( --color-purple ); */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2), -2px -2px 5px var( --color-purple );
    color: var(--color-purple) ;
    
}
.header-bottom-img{
    width: 400px;
    
}
.header-bottom-img img{
    width: 100%;
    /* transform: translateY(100%) */
 
}

/*about*/
.about{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.about-desc{
    direction: rtl;
    text-align: start;
    margin-left: 2rem;
    width: 80%;
}
.about-img img{
    width: 500px;
}